body {
font-family: 'Arial', sans-serif;
  color: black;
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  margin: 10;
  padding: 0;
  direction: rtl;
  text-align: center;
}

.controls {
  background-color: #060AFF; /*#157eed;*/
  padding: 3px;
  padding-bottom: 30px;
  margin: 10px;
  max-width: 960px;
  /*max-height: 1500px;*/
  border-radius: 50px;
  box-shadow: 0 0 10px
  rgba(0,0,0,0.1);
  /*display: flex;*/
  font-family: arial;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.controls .form-group {
  display: flex;
  flex-direction:  column;
  /*align-items: flex-center;*/
  min-width: 170px;
  min-height: 10px;
}
.controls label {
  font-size: 14px;
  /*text-align: center;*/
  margin-bottom: 5px;
  color: white;
}
.controls input{
  display: flex;
  padding: 4px;
  width: 90%;
  border: 1px solid black;
  border-radius: 5px;
  direction: ltr;
  text-align: center;
  /*align-content: center;*/
  font-size: 14px;
}
.controls select {
   display: flex;
  padding: 5px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  direction: rtl;
  text-align: center;
  /*align-content: center;*/
  font-size: 14px;
 /* display: flex;
  padding: 4px;
  width:  90%;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;*/
}
.controls button {
  /*display: flex;*/
  padding: 6px;
  width: 100%;
  border: 1px solid white;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-weight: normal;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 12px;
  text-align: center;
  /*padding: 8px 10px;
  flex: 1 1 45%;
  max-width: 160px;
  min-width: 140px;
  width: 90%;
  /*text-align: center;*/
  /*white-space: nowrap;*/  /* ✅ يمنع السطر الثاني */
  /*overflow: hidden;
  text-overflow: ellipsis;*/
  
}
.controls button:hover {
  background-color: #0056b3;
}
.button-row {
  display: flex;
  gap: 10px;
 /* justify-content: center;*/
  /*flex-wrap: wrap;*/
 margin-top: 10px;
}
.controls button:active {
  background-color: green;
  transform: scale(0.98);
}
#card-container {
margin: 20px auto;
display: flex;
flex-direction: column;
align-items: center;
}
.page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
  margin-bottom: 20px;
  page-break-after: always;
  page-break-inside: avoid;
}

/* يمنع إضافة صفحة فارغة بعد آخر صفحة */
.page:last-child {
  page-break-after: auto !important;
  margin-bottom: 0 !important;
}
.card-wrapper {
width: 185px;
height: 70px;
background-size: cover;
position: relative;
}
.card {
width: 100%;
height: 100%;
background-size: cover;
background-position: center;
position: relative;
border-radius: 10px;
overflow: hidden;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 1px;
page-break-inside: avoid;
}
.card .network-name{
font-size: 14px;
color: red;
position: absolute;
top: 1px;
font-weight: bold;
}
.card .code{
font-size: 14px;
color: #0033cc;
font-weight: bold;
}
.card .info{
font-size: 10px;
color: black;
position: absolute;
bottom: 1px;
text-align: center;
}
.card .duration {
position: absolute;
left: 3px;
color: black;
font-size: 12px;
font-weight: bold;
}
.card .username-label {
font-size: 14px;
color: black;
position: absolute;
right: 10px;
font-weight: blod;
}
.header-box {
  background-color:#060AFF ;/*#0048ff;*/
  padding: 1px;
  margin: 0px auto -30px auto;
  max-width: 250px;
  border-radius: 60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  font-size: 9px;
  color: white;
}

@keyframes pulse {
  0% { transform: scale(1); box-shadow: 0 0 10px rgba(0,0,0,0.2); }
  60% { transform: scale(1.08); box-shadow: 0 0 20px rgba(0,0,0,0.4); }
  100% { transform: scale(1); box-shadow: 0 0 10px rgba(0,0,0,0.2); }
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.logo-img {
  width: 60px;
  height: auto;
  border-radius: 50px;
  margin-bottom: 15px;
  animation: pulse 1.2s infinite, fadeIn 1.2s ease-out;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.12);
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
}


#login-container {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: linear-gradient(to bottom right, #dbeaff, #f0f8ff);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  #login-box {
    background: snow;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    width: 320px;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }

  #login-box input {
    display: block;
    width: 92%;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }

  #login-box button {
    padding: 12px;
    width: 100%;
    background-color: #060AFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
  }

  #login-box button:hover {
    background-color: #0033cc;
  }

@keyframes pulse {
  0% { transform: scale(1); box-shadow: 0 0 10px rgba(0,0,0,0.2); }
  70% { transform: scale(1.08); box-shadow: 0 0 20px rgba(0,0,0,0.4); }
  100% { transform: scale(1); box-shadow: 0 0 10px rgba(0,0,0,0.2); }
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}
.logoin {
  width: 100px;
  height: auto;
  border-radius: 50px;
  margin-bottom: 15px;
  animation: pulse 1.2s infinite, fadeIn 1.2s ease-out;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.logoin:hover {
  transform: scale(1.12);
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
}
page:last-child {
  margin-bottom: 0 !important;
}
